table
{
	position:relative;
	left:30%;
	width:400px;
	background-color:gray;
	padding:30px;
}
h2,p
{
	position:relative;
	left:31%;
	width:300px;
	background-color:gray;
	padding:30px;
}
table 
{
	margin:10px;
}
 h2,p
{
	margin:10px;
}
input,select
{
	display:block;
	width:100%;
	padding:5px;
	border-radius:4px;
}