#new-img
{
    background-position: left;
    background-repeat: no-repeat;
    background-color: yellow;
    border: 0px;
    width: 161px;
    height: 30px;
    text-align:right;
}
#pic_bg
{
	opacity:0.4;
}